{% extends "base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron">
            
        <b><h3>  <span class="glyphicon glyphicon-pencil"></span> Formulaire de connexion :</h3></b>
        <br>
  <form class="form-horizontal">

  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email <i class="glyphicon glyphicon-envelope"></i> : </label>
    <div class="col-sm-5"> 
      <input type="email" class="form-control" id="email" placeholder=" Entrez votre mail.">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Mot de passe  <span class="glyphicon glyphicon-lock"></span>  :</label>
    <div class="col-sm-5"> 
      <input type="password" class="form-control" id="pwd" placeholder=" Entrez votre mot de passe.">
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-12">
      <button type="submit" class="btn btn-success btn-sm">Envoyer</button>
    </div>
  </div>

</form>
            
        </div>
</div>
   

  {% endblock %}