{% extends "base.html.twig" %}
{% block body %}
    <div class = "container">
        <div class ="well">
            <h2>Vérifications avant de partir</h2>
            <hr />
            <div class ="form-depart"
                <form href = "" method = "" action = "">
                    <label for = "v_kilo">Kilométrage du véhicule</label>
                    <input class = "form-control" type = "number" min = "0" name = "v_kilo">
                    <label for = "v_etat">Etat du véhicule</label>
                    <input class = "form-control" type = "text" name = "v_etat">
                    <input class = "btn btn-default btn-info" type ="submit" value = "Valider">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
